<!--<style>
  #sale-banner-discount {
    background: #E6005C;
    text-align: center;
    padding: 10px 0;
    background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 1px, transparent 6px);
    background-size: 8px 8px;
  }
  #sale-banner-discount p {
   color:#fff; 
  }
  
  #sale-banner-discount p a {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #fff;
    padding: 5px; margin-left:10px;
  }
  @media only screen and (max-width: 640px) {
    #sale-banner-discount{
      padding: 10px 10px;
    }
    #sale-banner-discount p a{
     display:block;
      margin:10px 0 0 0;
    }
  }
</style>

<div id="sale-banner-discount">
  <p>SALE ON SALE - Take An Extra 50% OFF with code: <span style="font-weight:bold; text-decoration:underline;">SALEONSALE</span>
  <a href="https://www.elietahari.com/collections/saleonsale">Shop Now</a></p>
</div>-->
{{ content_for_index }}