<div class="virtual_style">
<div class="virtual_banner">
<img class="virtual_desktop_img" src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/virtual_style_banner.jpg?v=1707241388"/>
<img class="virtual_mobile_img" src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/virtual-style-banner_mobile.jpg?v=1706731643"/>
</div>
<div class="virtual_header">
<h1>My Life My Style</h1>
  <p class="virtual_subheading">Discover Your signature style with help from our expert stylists</p>
</div>
  <div class="virtual_content">
      <p class="virtual_main_content">Shop the latest from Elie Tahari Collection with help from one of our wardrobe stylists. </br> Schedule a personalized virtual styling session and get tailored recommendations for clothing and accessories you’ll love.</p>
  <p class="virtual_main_content text-align">Here’s how it works.</p>
    <div class="virtual_col">
  <div class='steps' id='steps'>
  <div class='step'>
    <div class='number'>1     
    </div>
    <div class='info'>
      <p class='title'>
        Book
      </p>
      <p class='text'>Book a time to connect with your stylist.</p>
    </div>
  </div>

  <div class='step'>
    <div class='number'>2</div>
    <div class='info'>
      <p class='title'>Communicate</p>
      <p class='text'>Share your style preferences and any specific items you’re looking for via chat, email, or video conference.</p>
    </div>
  </div>
    
    <div class='step'>
    <div class='number'>3</div>
    <div class='info'>
      <p class='title'>Elevate Your Signature Style</p>
      <p class='text'>Work one on one to build your signature style with pieces curated just for you, plus styling tips to elevate your look.</p>
    </div>
  </div>
    <div class="virtual_booking_cta">
<!-- Calendly link widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<a href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/et-signaturestyle/30min'});return false;">Schedule Your Personal Styling Session</a>
<!-- Calendly link widget end -->
    </div>
</div>
      <div class="virtual_gallery">
        <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/gallery.jpg?v=1706728952" />
      </div>
    </div>
  </div>
</div>
<style>
 
  .virtual_header {
position: relative;
    background: #F4F4F4;
    max-width: 590px;
    width:100%;
    margin: 0 auto;
    height: 150px;
    top: -4em;
    border: 1px solid #e5e4e4;
}
.virtual_header h1 {
  text-align: center;
    text-transform: uppercase;
    font-size: 52px;
    padding: 2% 0 0 0;
}
  .virtual_mobile_img {
    display:none;
  }

.virtual_subheading {
  position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase; 
    font-family: monospace;
}

.virtual_content {
  max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
}
  .virtual_main_content {
  font-size: 25px;
    text-align: center;
    line-height:45px;
    margin-bottom:7%;
}
  .virtual_main_content.text-align {
    text-align:left;
    text-decoration: underline;
    margin-bottom:20px;
  }
  .virtual_content .steps {
  max-width: 450px;
}

.virtual_content .step {
  display: flex;
  position: relative;
}
.virtual_content .step:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 32px;
  height: 0;
  width: 2px;
  background-color: #000;
}
.virtual_content .step .info {
  margin: 8px 0 20px;
}
.virtual_content .step .title {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 8px;
  color: #000;
}
.virtual_content .step .text {
  font-size: 16px;
  color: #000;
  padding-bottom: 0;
  margin: 0;
}
.virtual_content .step:not(:last-child):after {
  height: 75%;
}

.virtual_content .number {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  margin-right: 14px;
}
.virtual_content .number.completed {
  background-color: #007EA7;
}

.virtual_col {
  display:flex;
} 

.virtual_gallery {
  padding-left: 15%;
    margin-top: -6%;
}
.virtual_booking_cta {
      text-align: center;
    width: 100%;
    margin-top: 22%;
}
.virtual_booking_cta a {
    background: #1231B5;
    color: #fff;
    padding: 3% 7%;
    width: 100%;
    border: 1px solid #525a70;
    text-transform: uppercase;
    font-size: 16px;
  }

  @media screen and (max-width: 640px) {
    .virtual_desktop_img {
      display:none;
    }
    .virtual_mobile_img {
      display:block;
    }
  .virtual_header h1 {
    font-size:30px;
  }
    .virtual_content {
      padding:0 20px;
    }
    .virtual_col {
      display:inherit;
    }
    .virtual_main_content.text-align {
      margin-bottom:0;
    }
    .virtual_booking_cta {
      text-align: center;
    width: 100%;
    margin-top: 12%;
    margin-bottom: 20px;
    }
    .virtual_booking_cta a {
      padding: 3% 3%;
      font-size:14px;
    }
    .virtual_gallery {
      padding-left:0;
      margin-top:7%;
    }
}

</style>