{% section 'banner-outlet' %}

{% comment %}{% section 'outlet-list' %}{% endcomment %}
<div class="ban_wrap1" style="margin-top:2%;">
  <div class="denim tthari">
    <a href="/collections/t-tahari-collection"
      ><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/T-tahari-collection.jpg?v=1695933460"
    ></a>
  </div>
  <div class="denim">
    <a href="/collections/outlet-coats"
      ><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/tahari-coats.jpg?v=1695933459"
    ></a>
  </div>
</div>

<div class="ban_wrap" style="max-width:1200px; width:100%; margin:0 auto; margin-top:2%; ">
  {% section 'banner-outlet12' %}
</div>
<div class="shopify-section cat" style="margin:3% 0 1% 0;">
  <div class="ban_wrap coth-category" style="max-width:1200px; widht:100%; margin:0 auto;">
    <h3
      class="SectionHeader__SubHeading Heading u-h6"
      style="
        text-align: center;
        letter-spacing:.1em;
        font-family: sans-serif;
        font-size: 18px; margin-bottom:3%;
      "
    >
      Shop By Category
    </h3>
    <ul>
      <li><a href="/collections/outlet-dresses?style=outlet" style="line-height:45px;">Dresses</a></li>
      <li><a href="/collections/outlet-tops?style=outlet" style="line-height:45px;">Tops</a></li>
      <li><a href="/collections/outlet-bottoms?style=outlet" style="line-height:45px;">Pants</a></li>
      <li>
        <a href="/collections/elie-tahari-outlet?style=outlet&pf_pt_category=Knits&pf_pt_category=Sweaters"
          >Sweaters & Knits</a
        >
      </li>
      <li><a href="/collections/outlet-jackets-blazers?style=outlet">Jackets & Blazers</a></li>
      <li><a href="/collections/outlet-coats" style="line-height:45px;">COATS</a></li>
    </ul>
  </div>
</div>
{% comment %}<div class="ban_wrap" style="max-width:1200px; width:100%; margin:0 auto;">{% section 'banner-outlet2' %}</div>{% endcomment %}
<div class="ban_wrap1">
  {% section 'banner-outlet4' %}
  {% section 'banner-outlet5' %}
</div>
<div class="ban_wrap1">
  {% section 'banner-outlet3' %}
  {% section 'banner-outlet8' %}
</div>

{% comment %}<div class="ban_wrap" style="max-width:1200px; width:100%; margin:0 auto;">{% section 'banner-outlet8' %}</div>{% endcomment %}
<div class="ban_wrap1">
  {% section 'banner-outlet10' %}
  {% section 'banner-outlet11' %}
  {% section 'banner-outlet6' %}
</div>
<div class="ban_wrap" style="max-width:1200px; width:100%; margin:0 auto; margin-top:2%; margin-bottom:2%; ">
  {% section 'banner-outlet9' %}
</div>
{% comment %}
  <div class="ban_wrap1" style="margin-bottom:30px;">
    {% section 'banner-outlet7' %}
  </div>
{% endcomment %}

{% comment %}
  <div class="shopify-section" style="margin:2% 0;">
    <div class="ban_wrap coth-category" style="max-width:1200px; width:100%; margin:0 auto;">
    <h3 class="SectionHeader__SubHeading Heading u-h6" style="text-align: center;
      letter-spacing:.1em;
      font-family: sans-serif;
      font-size: 18px; margin-bottom:3%;">Shop By Price </h3>
    <ul>
      <li><a href="/collections/elie-tahari-outlet?style=outlet&pf_p_price=7.8%3A59"><p><span class="two-digit"><sup>$</sup>59</span> and Under</p></a></li>
       <li><a href="/collections/elie-tahari-outlet?style=outlet&pf_p_price=59%3A99" ><p><span class="two-digit"><sup>$</sup>99</span> and Under</p></a></li>
      <li><a href="/collections/elie-tahari-outlet?style=outlet&pf_p_price=99%3A129" ><p><span class="two-digit"><sup>$</sup>129</span> and Under</p></a></li>
      <li><a href="/collections/elie-tahari-outlet?style=outlet&pf_p_price=129%3A149"><p><span class="two-digit"><sup>$</sup>149</span> and Under</p></a></li>
    </ul>
    </div>

  </div>
{% endcomment %}

{% comment %}{% section 'outlet-list' %} {% endcomment %}

<style>
    .tthari {
      margin-right:3%;
    }
    .ban_wrap1 {
      max-width:1200px;
      width:100%;
      margin:0 auto;
      display:flex;
    }
    #shopify-section-banner-outlet10, #shopify-section-banner-outlet11, #shopify-section-banner-outlet4, #shopify-section-banner-outlet5, #shopify-section-banner-outlet6, #shopify-section-banner-outlet7, #shopify-section-banner-outlet3, #shopify-section-banner-outlet8{
      max-width:600px;
      width:100%;
      margin-top:4%;
    }
    #shopify-section-banner-outlet8 {
      margin-top:4%;
    }
    #shopify-section-banner-outlet10, #shopify-section-banner-outlet11 , #shopify-section-banner-outlet4, #shopify-section-banner-outlet3 {
      margin-right:3%;
    }
    @media screen and (max-width: 700px) {
      .tthari {
      margin-right:0;
        margin-bottom:10px;
    }
      .ban_wrap1 {
        display:inherit;
      }
    #shopify-section-banner-outlet4, #shopify-section-banner-outlet5, #shopify-section-banner-outlet6, #shopify-section-banner-outlet7 {
      max-width:100%;
      width:100%;
      margin-top:4%;
    }
       #shopify-section-banner-outlet4, #shopify-section-banner-outlet6 {
      margin-right:0;
    }
  }
</style>

{% comment %}{% section 'outlet-coll-three' %} {% endcomment %}
