<style>
  .Footer--withMargin {
   margin:0 
  }
  .international-container {
    max-width: 1243px;
    width: 100%;
    margin: 0 auto;
}
  
  .international-container a {
   color:#008dd8;
    text-decoration:underline;
  }
  
  .international-container a:hover {
   color:#0e3892; 
  }

.banner-image {
    margin:40px 0;
}

.banner-image img {
    width: 100%;
}

.welcome-note {
    width: 100%;
    display: inline-block;
}

.welcome-note .text-wrap{
    width: 100%;
    display: inline-block;
    margin-bottom:25px;
}

.international-container h1 {
    font-size:31px;
    margin-bottom:30px;
    -webkit-text-stroke: 0.8px black;
}

.international-container h2{
    font-size: 32px;
    margin-bottom: 30px;
    line-height: initial;
}
.international-container h3 {
    font-size: 27px;
    margin: 60px 0;
  line-height: initial;
  }

.welcome-note .text-wrap p {
    font-size: 21px;
    line-height: 32px;
}

.international-container hr{
    margin:10px 0 20px 0;
}

.international-container .team-members {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 10px 0;
}

.international-container .team-members .each-member {
    width: 20%;
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 21px;
}
.international-container .team-members .each-member p {
  margin: 9px 0 0 0;
    line-height: inherit;
    font-size: 16px;
}

.elie-girls {
    display:flex;
  flex-wrap:wrap;
}

.each-eliegirl {
    width:20%;
}
.eliegirl-testimonial {
        padding: 15px 25% 0 0;
    font-style: italic;
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 20px;
}
  
  .each-eliegirl p {
    font-size: 13px;
}
.elie-social {

    width: 100%;
    text-align: center;
    margin: 40px 0; 
}

.elie-social p {
    font-size: 27px;
}

.elie-social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
  .elie-social ul li a:hover{
    opacity:0.8;
  }
  
  @media only screen and (max-width: 1243px) {
  .international-container {
   padding:0 8%; 
  }
    .international-container h1 {
    font-size: 21px;
    }
    .welcome-note .text-wrap p {
    font-size: 19px;
    line-height: 30px;
}
    .international-container h2 {
    font-size: 21px;
    }
    .international-container .team-members .each-member {
    width: 25%;
    }
    .international-container h3 {
    font-size: 21px;
    margin: 40px 0;
    line-height: initial;
}
    .each-eliegirl {
    width: 30%;
}
    
}
    @media only screen and (max-width: 820px) {
      .international-container .team-members .each-member {
   		 width: 33%;
      }
    }
  @media only screen and (max-width: 600px) {
    .international-container h1 {
    font-size: 16px;
    margin-bottom: 15px;
}
    .international-container .team-members .each-member {
    width: 50%;
    text-align: center;
}
    .each-eliegirl {
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
}
    .eliegirl-testimonial {
    padding: 15px 6% 0 0;
    }
    .welcome-note .text-wrap p {
    font-size: 17px;
    line-height: 27px;
}
    .international-container h2 {
    font-size: 18px;
}
    .international-container .team-members .each-member {
    width: 50%;
    text-align: center;
    padding: 0 2%;
}
    .international-container h3 {
    font-size: 18px;
    margin: 30px 0;
    line-height: initial;
}
    .each-eliegirl {
    width: 50%;
    
    padding: 0 2%;
}
  }
</style>
<div class="international-container">
        <div class="banner-image">
            <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/IWD_Image.jpg?v=1646410876"/>
        </div>
        <div class="welcome-note">
            <div class="text-wrap">
                <h1>CELEBRATING WOMEN'S HISTORY MONTH & INTERNATIONAL WOMEN'S DAY!</h1>
                <p>Elie Tahari will be partnering up with local NYC organization, The Bottomless Closet to inspire disadvantaged women in need and help them achieve success in the workforce! From 03.05.22 - 03.13.22 Elie Tahari will be donating 10% of online sales in the form of luxury clothing provided to women in need! We aim to help all women dress for success and what better way than to give them a brand new wardrobe! </p>
            </div>
            <div class="text-wrap">
                <h2>ABOUT THE BOTTOMLESS CLOSET</h2>
                <p>The Bottomless Closets mission is to be the connection that inspires and guides disadvantaged New York City women to enter the workforce and achieve success. From their grassroots beginnings, they have grown into an organization that has served more than 46,000 women in need, amassed nearly 200 dedicated volunteers and roughly 200 referral partners, and has had over 1,000 workshop attendees just last year. The Bottomless Closet experience is all about making women feel confident, prepared, and empowered to ace their job interviews, start that new job, and begin their journey to self-sufficiency. Upon arriving at Bottomless Closet, each woman is paired up one-on-one with a volunteer career coach who will handle the duration of the appointment. They will begin in the boutique, where they can pick out professional clothing, shoes, and accessories that will help them give a sparkling first impression. <br/><br/>To make a donation to Bottomless Closet, please click <a target="blank" href="https://bottomlesscloset.org/">here.</a></p>
            </div>
            <hr>
            <div class="text-wrap">
                <p>We strive to always celebrate and empower women through our clothing. We acknowledge women for <br/>all their amazing achievements, talents, strengths and beauty!<br/> Together we can forge women's equality! #breakthebias<br/><br/> Meet the wonderful women that work at Elie Tahari!</p>
            </div>
            <div class="team-members">
                <div class="each-member">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Susan_Mazursky.png?v=1646410876">
                    <p>Susan Mazursky</p>
                    <span>Vice President of Finance</span>
                </div>
                <div class="each-member">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Susan_Klope.png?v=1646410876">
                    <p>Susan Klope</p>
                    <span>Vice President of Design</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Lauren.png?v=1646410876">
                    <p>Lauren Tahari</p>
                    <span>Chief Merchant</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Genyne_Bollatto.png?v=1646410876">
                    <p>Genyne Bollatto</p>
                    <span>Customer Service Manager</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Jovon.png?v=1646410877">
                    <p>Jovon Gray</p>
                    <span>Accounts Payable Manager</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Nicole_K.png?v=1646410876">
                    <p>Nicole Kelleher</p>
                    <span>Marketing Manager</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Nicole_S.png?v=1646410876">
                    <p>Nicole Sgobba </p>
                    <span>Production Coordinator</span>
                </div>
                <div class="each-member">
                     <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Minaxi.png?v=1646410876">
                    <p>Minaxi Khatri</p>
                    <span>Technical Designer</span>
                </div>
            </div>
            <hr>
            <h3 >What does being a woman mean to you? We asked some of our #eliegirl’s and love all their beautiful answers! Follow us on social media and share your thoughts on what being a women means to you!</h3>
            <div class="elie-girls">                
                <div class="each-eliegirl">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Nicole_Stillings.png?v=1646410876"/>
                    <div class="eliegirl-testimonial">
                        “To me, being a woman is the most powerful experience on the planet. Being a woman means that I am in control of my energy. Being a woman means that it is my birthright to be a very powerful creator. And as a woman, I know that my thoughts mold my energy and my energy shapes my reality.” 
                    </div>
                    <p>- Nicole Stillings <br>@nicolerosestillings</p>
                </div>
                <div class="each-eliegirl">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Natalie_Atick_Nunez.png?v=1646410876"/>
                    <div class="eliegirl-testimonial">
                        “The meaning of being a woman to me is so powerful. It’s having the grace, fearlessness, strength, and intelligence to know there is no limit in what we can accomplish. We are an unstoppable force especially when we support one another.” 
                    </div>
                    <p>- Natalie Atick- Nunez<br>@therobelife</p>
                </div>
                <div class="each-eliegirl">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Camille_Schrier.png?v=1646410876"/>
                    <div class="eliegirl-testimonial">
                        “As women, femininity gives us the unique and natural ability to be creative, collaborative, compassionate, and expressive. To me, the beauty of womanhood is being able to embrace the true power of that femininity, and use it to positively impact the world around us…from our personal life, to our professional life, and beyond.” 
                    </div>
                    <p>- Camille Schrier, <br>Miss America 2020, <br>@camilleschrier</p>
                </div>
                <div class="each-eliegirl">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Isabella.png?v=1646410876"/>
                    <div class="eliegirl-testimonial">
                        “Being a woman is to be confidently and unapologetically ME!” 
                    </div>
                    <p>- Isabella Thorp <br>@confessionsofasuperrager</p>
                </div>
                <div class="each-eliegirl">
                    <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Kelly_Dillon.png?v=1646410876"/>
                    <div class="eliegirl-testimonial">
                        “Being a woman means being independent and powerful, while also at the same time being compassionate, kind, and always having empathy for others. Embracing your divine feminine energy also means being able to show your vulnerable and emotional side without fear of judgement or weakness. It takes a very strong female to show her soft side.”
                    </div>
                    <p> - Kelly Dillon <br>@kelldillon</p>
                </div>
            </div>
            <div class="elie-social">
                <p>Follow Us</p>
                <ul>
                    <li><a target="blank" href="https://www.facebook.com/elietahari/"><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/fb_346a8d71-bbd1-4ccf-8a3e-6f05c1428bc7.jpg?v=1646410877"></a></li>
                    <li><a target="blank" href="https://twitter.com/ElieTahari"><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/2_fd55bb8f-64eb-4a65-af9d-f1b2b77abb24.jpg?v=1646410877"></a></li>
                    <li><a target="blank" href="https://www.instagram.com/elietahari/"><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/ig.jpg?v=1646410876"></a></li>
                    <li><a target="blank" href="https://www.pinterest.com/elietahari/"><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/p-interest.jpg?v=1646410876"></a></li>
                    <li><a target="blank" href="https://www.youtube.com/user/elietahari/"><img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/YT.jpg?v=1646410876"></a></li>
                </ul>
            </div>
    </div>