<div class="Container-location">
<iframe src="https://storage.googleapis.com/maps-solutions-witoan73g9/locator-plus/fpil/locator-plus.html"
  width="100%" height="100%"
  style="border:0;"
  loading="lazy">
</iframe>
</div>
<style>
  .Container-location {
    max-width:1200px;
    height:800px;
    width:100%;
    margin:2% auto;
  }
</style>