<div class="influ-container">
  <div class="influ-wrapper">
    <div class="influ-banner">
      <img src="https://cdn.shopify.com/s/files/1/0350/8997/3385/files/Influencer_HGG_Banner_Final.jpg?v=1668620521" alt="elie-girls- gift book" />
    </div>
{% section 'influencers3' %}
<div class="pagination"><a href="/pages/influencers-picked-2">← Previous</a></div>
 </div>
</div>
<style>
  .influ-wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
  }
  .influ-lists {    
    max-width:1200px;
    width:100%;
    margin:0 auto;
    margin-top:60px;
  }
  .influ-list {
    display:flex;
    flex-grow:1;
    margin-bottom:50px;
  }
  img.top-product {
    margin: 10% 0;
  }
  .influ-list:nth-child(even) {
    flex-direction:row-reverse;
  }
  .influ-message {
    
    width:700px;
    margin-right:50px;
  }
  .influ-list:nth-child(even) .influ-message {
    margin-right:inherit;
    margin-left:50px;
  }
  .influ-products {
    width:650px;
    text-align:center;
  } 
  .influ-products ul li {
    list-style:none;
    display:inline-grid;
    width:30.33%;
    margin-right:2%;
  }
  .influ-products ul li img {
    width:100%;
    margin-bottom:15px;
  }
  .influ-products ul li h2 {
    font-size: 17px;
    text-transform: capitalize;
    letter-spacing: inherit;
  }
  .influ-products ul li .ProductItem__PriceList  {
    font-weight:600;
    font-size:16px;
    letter-spacing:inherit;
  }
  .influ-products ul li span.discount {
    font-weight:400;
    
  }
  .pagination {
   display: block;
    text-align: center;
    margin: 5% 0;
    font-size: 19px;
  }
.pagination a {
  background: #23408D;
    padding: 6px 10px;
    color: #fff;
    border: 1px solid #16295a;
}

  @media only screen and (max-width: 980px) {
  .influ-list {
    display:block;
    margin:0 auto;
    margin-bottom:inherit;
    text-align:center;
    width:640px;    
  }
    .influ-message {
    width: 100%;
    margin-right: 0;
}
    .influ-list:nth-child(even) .influ-message {
      margin-left:0;
    }
    .influ-products {
    width: 100%;
    text-align: center;
    background: #F9F9F9;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-top: none;
    margin-bottom: 6%;
    }
    img.top-product {
    margin: 5% 0 0 0;
    width: 70%;
}
}
   @media only screen and (max-width: 640px) {
.influ-list {
  width:100%;
}
     .influ-lists {
       padding:0 5%;
     }
   }
</style>